---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Not found">
    <main>
        <h1>Not found</h1>
    </main>
</Layout>

<style>
    main {
        height: 90vh;
    }
    h1 {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
