<ul>
    <a href="https://app.testaustime.fi">Get started</a>
    <a href="https://github.com/Testaustime">GitHub</a>
</ul>
<style>
    ul {
        list-style-type: none;
        padding: 10px 1.5rem;
        max-width: calc(900px + 10px);
        margin: 0 auto;
    }
    ul li,
    ul a {
        font-family: "Ubuntu", sans-serif;
        text-decoration: none;
        float: right;
        padding: 0 10px;
        color: rgb(136, 136, 136);
        transition: 200ms ease;
    }
    ul li:hover,
    ul a:hover {
        color: rgb(190, 190, 190);
    }
</style>
