---
import Feature from "./Feature.astro"
---

<h2>What we think you'll love</h2>
<div class="features">
    <Feature
        title="Insightful data"
        body="See how much time you spend coding, categorized by project and programming language. Share your data with your friends and compete with them on private leaderboards."
    />
    <Feature
        title="Socialize your coding"
        body="Share your data with your friends or the whole world! You can also create leaderboards to compete with other people! We also allow embedding your statistics via widgets, so you can show them on your own website or GitHub page."
    />
    <Feature
        title="Supporting open-source"
        body="All our code is open source! You can read every line of it, make your own modifications and contribute back to the project. This is great for security, too! You may even self-host everything, if you want to create a private instance."
    />
</div>

<style>
    .features {
        padding: 40px 0;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 30px;
    }
</style>
