<div class="footer">
    <hr />

    <div class="flex-container">
        <div class="sponsor">
            <img src="/assets/testausserveri.png" />
            <p>Supported by Testausserveri</p>
        </div>
        <div class="legal">
            <p>© 2023 Testausserveri ry & contributors</p>
            <p>Licensed under the MIT license. <a href="https://github.com/Testaustime">Source code</a></p>
        </div>
    </div>
</div>

<style>
    .footer {
        margin: 50px 0;
    }
    hr {
        margin-bottom: 50px;
        border: 1px solid rgb(33, 33, 33);
    }
    .sponsor {
        height: 40px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .sponsor img {
        height: 100%;
        border-radius: 100%;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .legal {
        text-align: right;
        color: gray;
    }
    .legal p a {
        color: rgb(155, 155, 155);
    }
</style>
