---
---

<div class="hero">
    <div class="selling-clause">
        <h1>The ultimate tool for tracking your <span class="text-gradient">coding time</span></h1>
        <p><a href="https://app.testaustime.fi">Get started now</a>, it's free forever!</p>
    </div>
    <img src="/assets/preview.png" />
</div>

<style>
    .selling-clause {
    }

    .hero img {
        max-width: 100%;
        border-radius: 10px;
        margin-top: 80px;
    }
    .hero {
        position: relative;
        margin: min(20%, 200px) 0;
    }
    .selling-clause h1 {
        font-size: 1.8rem;
    }
    .selling-clause p a {
        color: rgb(203, 128, 198);
    }

    .preview-image {
        border-radius: 5px;
        width: 100%;
    }
</style>
