---
import PluginDescription from "./PluginDescription.astro";
const plugins = [
    {
        name: "VS Code",
        img: "/assets/vscode.png",
        href: "https://github.com/Testaustime/testaustime-vscode",
    },
    {
        name: "Neovim",
        img: "/assets/neovim.svg",
        href: "https://github.com/Testaustime/testaustime.nvim",
    },
    {
        name: "IntelliJ",
        img: "/assets/intellij.png",
        href: "https://github.com/Testaustime/testaustime-intellij",
        description: ""
    },
]
---

<h2>Featured clients</h2>
<PluginDescription />

<div class="plugins">
    {
        plugins.map((plugin) => (
            <a href={plugin.href} target="_blank" class="plugin">
                <img class="client-icon" src={plugin.img} />
                <div class="text-container">
                    <p>Download for {plugin.name}</p>
                    { plugin.description != null ? <p class="desc">{plugin.description}</p> : <></>}
                </div>
            </a>
        ))
    }
</div>


<style>
    h2 {
        margin-top: 70px;
    }

    .text-container {
        padding: 8px 0;
    }
    p {
        margin: 0;
        color: hsl(0, 0%, 60%);
    }
    .plugins {
        margin-top: 50px;
        margin-bottom: 90px;
        display: flex;
        gap: 10px;
    }
    @media screen and (max-width: 800px) {
        .plugins {
            flex-direction: column;
            align-items: center;
            padding: 0 1.5rem;
        }
        .plugin {
            width: 50%;
        }
    }
    .plugin {
        font-family: "Ubuntu", sans-serif;
        text-decoration: none;
        width: 100%;
        padding: 20px 20px;
        display: flex;
        gap: 20px;
        background-color: rgb(35, 35, 35);
        transition: 200ms ease;
        border-radius: 10px;

        align-items: center;
        justify-content: center;
    }

    .plugin:hover {
        background-color: rgb(45, 45, 45);
    }
    .plugin p {
        color: hsl(0, 0%, 80%);
    }
    .plugin p.desc {
        margin: 5px 0 0 0;
        font-size: 0.7rem;
        color: hsl(0, 0%, 40%);
    }
    .client-icon {
        width: 30px;
    }
    .client-icon.scale-1-5x {
        width: 150%;
    }
</style>
