---
const apiserver = "https://api.testaustime.fi"

let bod = {
    coding_time: 0,
    user_count: "[fetching]",
}
try {
    const req = await fetch(`${apiserver}/stats`)
    bod = await req.json()
} catch (e) {
    bod = {
        coding_time: 0,
        user_count: "[request failed]",
    }
}

const codingTime = bod.coding_time
const userCount = bod.user_count
---

<p>
    Join the {userCount} proud users that have shared a total {
        codingTime ? Math.round(codingTime / 60 / 60 / 24) : "[request failed]"
    } days of their programming experience with Testaustime. If your editor wasn't listed here, check our <a
        href="https://github.com/testaustime">GitHub organization</a
    > for more plugins.
</p>

<style>
    p,
    a {
        color: rgb(192, 192, 192);
    }
</style>
